body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.65;
  color: #333;
}

.answer-area {
  white-space: pre-wrap;
  margin-top: 1rem;
  font-size: 1.15rem;
}

.our-form {
  display: flex;
  margin-bottom: 1rem;
}

.prompt-field {
  flex: 1;
  color: #333;
  padding: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.prompt-button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 98, 255);
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid #777;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 20px;
}

.container img {
  max-width: 100%;
  height: auto;
}

.footer {
  border-top: 1px dotted rgb(192, 192, 192);
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer a {
  color: #999;
  margin: 0 10px;
}
